# macOS
.DS_Store

# Logs
logs
*.log

# Node version directives
.nvmrc

# vscode workspace
*.code-workspace

# git
.git

# MkDocs build output
/site

# Node libraries
node_modules
/test.sh
patcher.py
test_patcher.py